.review-container{
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    height:600px;
   
   

    .reviews{
        display:flex;
        flex-direction: column;
        height:85%;
        width:100%;
        align-items: center;       
        overflow-y: scroll;
        padding: 4em;
    }

    button{
        margin-top: 5em;
    }
}