.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
     
    h1{
        margin-top: 15vh;
    }
    .message{
        width: 45vw;
       word-spacing: 5px;
       text-align: left;
       line-height: 35px;

        a{
            text-decoration: underline;
            text-transform: uppercase;
            font-weight: bolder;
        }
    }
}

@media only screen and (max-width:600px){
    
    .about{
    h1{
        margin-top: 5vh;
    }
    .message{
        width:95%;
    }
}
}