.review{
    display: flex;
    flex-direction: column;    
    border-bottom: 1px dotted black;
    width:45%;
    height:auto;
     

    .name{
        
    }

    .comment{
        font-weight: lighter;
    }

    .date{
        color:rgb(243, 229, 229);
        font-size: 12px;
    }
}