.link-cube{
    display: flex;    
    justify-content: center;
    border:3px solid black;
    width:150px;
    height:135px;
    padding:15px;
    border-radius: .25em;
    margin: 0 5px;
    opacity: .5;

    &:hover{
        transform:scale(1.1);
        background-color: rgba(0, 0, 0, 0.24);
        opacity: .95;
        color:white;       
    }

   
   
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        
        img{
            height:90%;
            width:90%;
        }

        .title{
           height: 10%;
        }
    }
}