body {
  margin: 0;
  background-image: linear-gradient(-90deg, rgb(224, 242, 247), rgb(61, 81, 104));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
